.button {
  width: 95px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #2ee5ac;
  background: #2ee5ac;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
}
