@mixin beforeElementStyle($color) {
  & td:first-child {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      border-radius: 3px 0px 0px 3px;
      background: $color;
    }
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;

  & tr:first-child,
  & td:first-child {
    border-top-left-radius: 3px;
  }
  & tr:first-child,
  & td:last-child {
    border-top-right-radius: 3px;
  }

  & tr:first-child,
  & td:first-child {
    border-bottom-left-radius: 3px;
  }
  & tr:first-child,
  & td:last-child {
    border-bottom-right-radius: 3px;
  }

  & thead {
    & tr {
      height: 20px;
    }

    & tr th:first-child {
      padding-left: 12px;
    }
  }

  & tbody {
    & tr {
      background: #fff;

      &:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }

  & th {
    text-align: left;

    & button {
      color: #999;
      font-family: Roboto;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      align-items: center;
      & img {
        margin-left: 8px;
      }
    }
  }

  &__row {
    height: 70px;
    position: relative;

    &_purple-light {
      @include beforeElementStyle(#c2c2ff);
    }
    &_purple-dark {
      @include beforeElementStyle(#8686ff);
    }
    &_red {
      @include beforeElementStyle(#e14165);
    }
  }

  &__cell-name {
    width: 389px;
    padding: 0 25px 0 12px;
    color: #474747;
    font-size: 13px;
    font-weight: 500;
  }
  &__cell-type {
    width: 100px;
    padding: 0 25px 0 0;
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 400;
  }
  &__cell-status {
    padding: 0 54px 0 0;
    width: 62px;
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 500;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }

    &_green {
      color: #1bda9d;
    }
    &_orange {
      color: #ff8346;
    }
    &_red {
      color: #fe4848;
    }
  }

  &__cell-site {
    width: 117px;
    padding: 0 60px 0 0;
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 400;
  }

  &__cell-buttonText {
    padding: 0 12px 0 0;
    width: 95px;
  }
}

.image-sort-desc {
  transform: rotate(180deg);
}

.lowercase {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
